@media only screen and (max-width: 1440px) {
    p.MuiTypography-root.MuiTypography-body1.css-rjptpc-MuiTypography-root {
        font-size: 0.6rem;
    }
    button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorSecondary.css-iwa5y8-MuiButtonBase-root-MuiTab-root {
        font-size: 0.75rem;
    }
    span.MuiTabs-indicator.css-ehhs8s-MuiTabs-indicator {
        height: 0.5px;
    }
}