.course-list {
    cursor:grab;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-list-container h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.course-list:active {
    cursor:grabbing;
}

.swiper-wrapper {
    padding-bottom: 55px;
}

.swiper-slide, .course-info, .rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-info {
    margin-top: 15px;
    justify-content: space-between;
    gap: 8px;
}

.rating {
    justify-content: flex-start;
}

.course-container img {
    width: 100%;
    height: 190px;
}

.MuiBox-root {
    font-size: 0.85rem;
}

.course-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    padding: 5px 15px;
    color: #FFFFFF;
    background-color: #A000C8;
    border-radius: 15px;
    transition: all 0.5s;
}

.course-info a:hover{
    background-color: #ab36c9;
    transition: all 0.5s;
}

@media only screen and (max-width:1200px) {
    .course-container {
        width: 220px;
    }

    .course-container img {
        height: 180px;
    }

}