.courses-container {
    border-radius: 20px;
    box-shadow: 4px 4px 7px 0px #00000010, -2px -2px 4px 0px #00000010;
    padding: 0px 10px;
    padding-bottom: 10px;
}

ul.nav {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    gap: 0px;
    margin-bottom: 20px;
}

ul.nav li {
    flex-grow: 1;
    text-align: center;
    padding: 5px 0;
}

li a.nav-link.active {
    color: #B62AF9 !important;
    border-bottom: 2px solid #B62AF9 !important;
    font-weight: 400 !important;
}

li.nav-item a{
    color: var(--text-black-primary) !important;
    border-bottom: 1px solid #C2C2C2 !important;
}

@media only screen and (max-width: 1440px) {
    li.nav-item a{
        font-size: 0.75rem;
    }
}