.course-form-container h1 {
    font-size: 1.8rem;
    padding-left: 10px;
}

.main-course-form {
    width: 100%;
    overflow: scroll;
    padding: 25px 20px;
    background-color: #FAF9FF;
    border-radius: 10px;
}

.preview-container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.course-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.input-container, .sub-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    gap: 20px;
}

.sub-input {
    position: relative;
    width: 700px;
}

.sub-input textarea {
    border: none;
    padding: 10px;
    font-size: 0.85rem;
    outline: none;
    resize: none;
}

.sub-input .form-control {
    outline: none;
    box-shadow: none;
}

.sub-input .form-control:focus {
    border: 1px solid var(--active-link-purple);
}

.count-word {
    font-size: 0.7rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.image span {
    color: #686868;
    font-size: 0.8rem;
}

.sub-input label {
    color: #64008F;
    font-size: 1.05rem;
    margin-bottom: 5px;
}

@media only screen and (max-width:1440px) {
    .course-form-container h1 {
        font-size: 1.4rem;
    }

    .sub-input {
        width: 600px;
    }
}

@media only screen and (max-width: 1200px) {
    .preview-container {
        justify-content: center;
    }

    .sub-input {
        width: 90%;
    }
}