.category-modal .modal-header {
    font-size: 1.4rem;
}

.category-modal input {
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.category-modal input:focus {
    outline: 1px solid var(--active-link-pink);
}

.category-modal form {
    display: flex;
    flex-direction: column;
}

.category-btn {
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    font-size: 0.9rem;
    margin-top: 10px;
    width: 100px;
    align-self: flex-end;
    background-color: #9500da;
}

.category-btn:hover {
    background-color: #a822e7;
}